doctype html
html(lang="en")
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="Marco Stagni")

    title
        | Simple Sidebar - Start Bootstrap Template

    // Bootstrap Core CSS
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')

    // sweetalert css
    link(rel='stylesheet', href='bower_components/sweetalert/dist/sweetalert.css')

    // Custom CSS
    link(href="styles/simple-sidebar.css", rel="stylesheet")

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/sweetalert/dist/sweetalert.min.js")
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular-route/angular-route.min.js")
    script(src="bower_components/stayclassy/classy.js")
    script(src="/scripts/wrangular.js")


    // angular app here
    script(src="/scripts/modules/app.js")
    script(src="/scripts/services/API.js")
    script(src="/scripts/controllers/Home.js")
    script(src="/scripts/controllers/About.js")
    script(src="/scripts/controllers/AnimaliController.js")
    script(src="/scripts/controllers/PadroniController.js")
    script(src="/scripts/controllers/VisiteController.js")
    script(src="/scripts/controllers/RaceController.js")
    script(src="/scripts/controllers/TypeController.js")
    script(src="/scripts/controllers/OperationController.js")
    script(src="/scripts/controllers/PadroniDetailController.js")
    script(src="/scripts/controllers/AnimaliDetailController.js")
    script(src="/scripts/controllers/VisiteDetailController.js")
    //script(src="/scripts/test.js")

body(ng-app="Veterinario")
    div#wrapper
        // Sidebar
        div#sidebar-wrapper
            ul.sidebar-nav
                li.sidebar-brand(style="background-color: cadetblue;")
                    a(ng-href="#/", href="#", style="color: white !important;")
                        | Home
                li.sidebar-brand
                    a(ng-href="#/animal", href="#")
                        | Animali
                li.sidebar-brand
                    a(ng-href="#/owner", href="#")
                        | Padroni
                li.sidebar-brand
                    a(ng-href="#/visit", href="#")
                        | Visite
                li.sidebar-brand
                    hr
                li.sidebar-brand
                    a(ng-href="#/race", href="#")
                        | Razze
                li.sidebar-brand
                    a(ng-href="#/type", href="#")
                        | Tipi
                li.sidebar-brand
                    a(ng-href="#/operation", href="#")
                        | Operation
        div#page-content-wrapper
            div.container-fluid
                div.row
                    div.col-lg-12
                        a#menu-toggle.btn.btn-default(href="#menu-toggle")
                            | Toggle Menu
                div.row
                    div.col-lg-12(ng-view="")

    script
        | $("#menu-toggle").click(function(e) {
        |    e.preventDefault();
        |    $("#wrapper").toggleClass("toggled");
        |});