div.page-header
    h1 Dettaglio Animale
    
div.row(style="margin-bottom: 20px;")
    div.col-lg-6
        // this button should trigger the new animal modal
        button.btn.btn-default(type="button", data-toggle="modal", data-target="#animalModal") Modifica
    div.col-lg-6
        // this button should open the owner page
        button.btn.btn-default(type="button")
            a(ng-href="#/owner/{{owner}}", href="#") Scheda Padrone

table.table.table-bordered(data-height="300")
    thead
        tr
            th Nome
            th Data di nascita
            th Genere
            th Razza
            th Padrone

    tr(id="{{code}}")
        td {{name}}
        td {{date}}
        td {{genre}}
        td {{race}}
        td {{owner}}

div.row(style="margin-bottom: 20px;")
    h3 Dettaglio Padrone

table.table.table-bordered(data-height="300")
    thead
        tr
            th CF
            th Nome
            th Cognome

    tr(id="{{animalOwner.cf}}")
        td {{animalOwner.cf}}
        td {{animalOwner.name}}
        td {{animalOwner.surname}}

div.row(style="margin-bottom: 20px;")
    h3 Visite Sostenute

table.table.table-bordered(data-height="300", width="100%", style="table-layout:fixed;")
    thead
        tr
            th.col-md-2 codice
            th.col-md-2 Data
            th.col-md-8 Note

    tr(ng-repeat="visit in visits", id="{{visit[0]}}")
        td
            a(ng-href="#/visit/{{visit[0]}}", href="#") {{visit[0]}}
        td {{visit[1]}}
        td(style="word-break: break-all;") {{visit[2]}}

// new animal modal

div#animalModal.modal.fade(tabindex="-1", role="dialog")
    div.modal-dialog(role="document")
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
                h4.modal-title Nuovo Animale
            div.modal-body
                form
                    div.form-group
                        label(for="animalName") Nome
                        input#animalName.form-control(type="text", placeholder="Inserisci un nome", value="{{name}}")
                    div.form-group
                        label(for="animalDate") Data
                        input#animalDate.form-control(type="text", placeholder="Inserisci una data", value="{{date}}")
                    div.form-group
                        label(for="animalGenre") Genere
                        select#animalGenre.form-control(value="{{genre}}")
                            option M
                            option F
                    div.form-group
                        label(for="animalRace") Razza
                        select#animalRace.form-control
                            option(ng-repeat="race in races", value="{{race[0]}}-{{race[1]}}") {{race[0]}} : {{race[1]}}
                    div.form-group
                        label(for="animalOwner") Padrone
                        select#animalOwner.form-control
                            option(ng-repeat="owner in owners", value="{{owner[0]}}") {{owner[0]}} - {{owner[1]}} {{owner[2]}}
            div.modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Close 
                button.btn.btn-primary(type="button", data-dismiss="modal", ng-click="modifyAnimal()") Save changes
