div.page-header
    h1 Lista Animali
    
div.row(style="margin-bottom: 20px;")
    div.col-lg-4
        // this button should trigger the new animal modal
        button.btn.btn-default(type="button", data-toggle="modal", data-target="#animalModal") Crea Nuovo
    div.col-lg-7.input-group
        span#search-label.input-group-addon Cerca
        input.form-control(type="text", ng-model="query", aria-describedby="search-label")

table.table.table-bordered(data-height="300")
    thead
        tr
            th codice
            th Nome
            th Data
            th Genere
            th Razza
            th Padrone
            th Tipo
            // this line is used to modify data
            th
    tr(ng-repeat="animal in animals | filter:query", id="{{animal[0]}}")
        td
            a(ng-href="#/animal/{{animal[0]}}", href="#") {{animal[0]}}
        td {{animal[1]}}
        td {{animal[2]}}
        td {{animal[3]}}
        td
            a(ng-href="#/race/{{animal[4]}}", href="#") {{animal[4]}}
        td {{animal[5]}}
        td
            a(ng-href="#/type/{{animal[6]}}", href="#") {{animal[6]}}
        td
            button.btn.btn-default.btn-xs(ng-click="deleteAnimal(this)")
                span.glyphicon.glyphicon-remove
            button.btn.btn-default.btn-xs
                span.glyphicon.glyphicon-pencil

// new animal modal

div#animalModal.modal.fade(tabindex="-1", role="dialog")
    div.modal-dialog(role="document")
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
                h4.modal-title Nuovo Animale
            div.modal-body
                form
                    div.form-group
                        label(for="animalName") Nome
                        input#animalName.form-control(type="text", placeholder="Inserisci un nome")
                    div.form-group
                        label(for="animalDate") Data
                        input#animalDate.form-control(type="text", placeholder="Inserisci una data")
                    div.form-group
                        label(for="animalGenre") Genere
                        select#animalGenre.form-control
                            option M
                            option F
                    div.form-group
                        label(for="animalRace") Razza
                        select#animalRace.form-control
                            option(ng-repeat="race in races", value="{{race[0]}}-{{race[1]}}") {{race[0]}} : {{race[1]}}
                    div.form-group
                        label(for="animalOwner") Padrone
                        select#animalOwner.form-control
                            option(ng-repeat="owner in owners", value="{{owner[0]}}") {{owner[0]}} - {{owner[1]}} {{owner[2]}}
            div.modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Close 
                button.btn.btn-primary(type="button", data-dismiss="modal", ng-click="newAnimal()") Save changes
