div.page-header
    h1 Lista Animali

table.table.table-bordered(data-height="300")
    thead
        tr
            th Nome
            th Data
            th Genere
            th Razza
            th Padrone

    tr(ng-repeat="animal in animals", id="{{animal[5]}}")
        td
            a(ng-href="#/animal/{{animal[5]}}", href="#") {{animal[0]}}
        td {{animal[1]}}
        td {{animal[2]}}
        td {{animal[3]}}
        td {{animal[4]}}

div.page-header
    h1 Lista Padroni

table.table.table-bordered(data-height="300")
    thead
        tr
            th CF
            th Nome
            th Cognome

    tr(ng-repeat="owner in owners", id="{{owner[0]}}")
        td
            a(ng-href="#/owner/{{owner[0]}}", href="#") {{owner[0]}}
        td {{owner[1]}}
        td {{owner[2]}}