div.page-header
    h1 Lista Animali

table.table.table-bordered(data-height="300")
    thead
        tr
            th codice
            th Nome
            th Data
            th Genere
            th Razza
            th Padrone
            th Tipo
            // this line is used to modify data
            th
    tr(ng-repeat="animal in animals", id="{{animal[0]}}")
        td
            a(ng-href="#/animal/{{animal[0]}}", href="#") {{animal[0]}}
        td {{animal[1]}}
        td {{animal[2]}}
        td {{animal[3]}}
        td {{animal[4]}}
        td {{animal[5]}}
        th {{animal[6]}}
        td
            button.btn.btn-default.btn-xs(ng-click="deleteAnimal(this)")
                span.glyphicon.glyphicon-remove
            button.btn.btn-default.btn-xs
                span.glyphicon.glyphicon-pencil

div.page-header
    h1 Lista Padroni

table.table.table-bordered(data-height="300")
    thead
        tr
            th CF
            th Nome
            th Cognome

    tr(ng-repeat="owner in owners", id="{{owner[0]}}")
        td
            a(ng-href="#/owner/{{owner[0]}}", href="#") {{owner[0]}}
        td {{owner[1]}}
        td {{owner[2]}}