div.page-header
    h1 Lista Tipi di Operazioni

div.row(style="margin-bottom: 20px;")
    div.col-lg-4
        // this button should trigger the new race modal
        button.btn.btn-default(operation="button", data-toggle="modal", data-target="#operationModal") Crea Nuovo
    div.col-lg-7.input-group
        span#search-label.input-group-addon Cerca
        input.form-control(type="text", ng-model="query", aria-describedby="search-label")

table.table.table-bordered(data-height="300")
    thead
        tr
            th Tipo di Operazione
            th
    tr(ng-repeat="operation in operations | filter:query", id="{{operation[0]}}")
        td
            a(ng-href="#/operation/{{operation[0]}}", href="#") {{operation[0]}}
        td
            button.btn.btn-default.btn-xs(ng-click="deleteOperation(this);")
                span.glyphicon.glyphicon-remove
            button.btn.btn-default.btn-xs
                span.glyphicon.glyphicon-pencil

// new operation modal

div#operationModal.modal.fade(tabindex="-1", role="dialog")
    div.modal-dialog(role="document")
        div.modal-content
            div.modal-header
                button.close(operation="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
                h4.modal-title Nuovo Tipo di Operazione
            div.modal-body
                form
                    div.form-group
                        label(for="operation") Nome
                        input#operation.form-control(operation="text", placeholder="Inserisci un nome")
            div.modal-footer
                button.btn.btn-default(operation="button", data-dismiss="modal") Close 
                button.btn.btn-primary(operation="button", data-dismiss="modal", ng-click="newOperation()") Save changes
