div.page-header
    h1 Lista Animali di Tipo {{type}}
    
div.row(style="margin-bottom: 20px;")
    div.col-lg-12.input-group
        span#search-label.input-group-addon Cerca
        input.form-control(type="text", ng-model="query", aria-describedby="search-label")

table.table.table-bordered(data-height="300")
    thead
        tr
            th codice
            th Nome
            th Data
            th Genere
            th Razza
            th Padrone
            th Tipo
            
    tr(ng-repeat="animal in animals | filter:query", id="{{animal[0]}}")
        td
            a(ng-href="#/animal/{{animal[0]}}", href="#") {{animal[0]}}
        td {{animal[1]}}
        td {{animal[2]}}
        td {{animal[3]}}
        td
            a(ng-href="#/race/{{animal[4]}}", href="#") {{animal[4]}}
        td {{animal[5]}}
        td
            a(ng-href="#/type/{{animal[6]}}", href="#") {{animal[6]}}