div.page-header
    h1 Lista Visite
    
div.row(style="margin-bottom: 20px;")
    div.col-lg-4
        // this button should trigger the new animal modal
        button.btn.btn-default(type="button", data-toggle="modal", data-target="#visitModal") Crea Nuovo
    div.col-lg-7.input-group
        span#search-label.input-group-addon Cerca
        input.form-control(type="text", ng-model="query", aria-describedby="search-label")

table.table.table-bordered(data-height="300", width="100%", style="table-layout:fixed;")
    thead
        tr
            th.col-md-2 codice
            th.col-md-1 Data
            th.col-md-6 Note
            th.col-md-2 Animal
            // this line is used to modify data
            th.col-md-1
    tr(ng-repeat="visit in visits | filter:query", id="{{visit[0]}}")
        td
            a(ng-href="#/visit/{{visit[0]}}", href="#") {{visit[0]}}
        td {{visit[1]}}
        td(style="word-break: break-all;") {{visit[2]}}
        td
            a(ng-href="#/animal/{{visit[3]}}", href="#") {{visit[3]}}
        td
            button.btn.btn-danger.btn-xs(ng-click="deleteVisit(this)")
                span.glyphicon.glyphicon-remove

// new visit modal

div#visitModal.modal.fade(tabindex="-1", role="dialog")
    div.modal-dialog(role="document")
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
                h4.modal-title Nuova Visita
            div.modal-body
                form
                    div.form-group
                        label(for="visitDate") Data
                        input#visitDate.form-control(type="text", placeholder="Inserisci una data")
                    div.form-group
                        label(for="visitNotes") Note
                        textarea#visitNotes.form-control(type="text", placeholder="Inserisci un nome", rows="10")
                    div.form-group
                        label(for="visitAnimal") Razza
                        select#visitAnimal.form-control
                            option(ng-repeat="animal in animals", value="{{animal[0]}}") {{animal[0]}} : {{animal[1]}}
            div.modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Close 
                button.btn.btn-primary(type="button", data-dismiss="modal", ng-click="newVisit()") Save changes
